flask==3.0.0
flask-cors==4.0.0
openai==1.6.1
requests==2.31.0
cloudinary==1.41.0
moviepy==1.0.3
imageio==2.31.5
imageio-ffmpeg==0.4.9
pillow==10.1.0
python-dotenv==1.0.0
google-api-python-client==2.108.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
opencv-python==4.8.1.78
packaging==23.2
numpy==1.24.3
decorator==5.1.1
proglog==0.1.10
