Flask==3.0.3
flask-cors==4.0.1
openai==0.28.0
httpx==0.24.1
moviepy==1.0.3
opencv-python==4.9.0.80
numpy==1.26.2
requests==2.32.3
cloudinary==1.44.1
python-dotenv==1.0.1
google-api-python-client==2.152.0
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
Pillow==10.4.0
gunicorn==21.2.0
imageio==2.35.1
imageio-ffmpeg==0.5.1
