Flask==3.0.3
flask-cors==4.0.1
openai
moviepy
opencv-python
numpy
requests
cloudinary
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
Pillow
gunicorn
imageio
imageio-ffmpeg
